h3{
    color:antiquewhite;
    font-size: 20px;
}
h4{
    color: blueviolet;
    font-size: 60px;
}
p{
    color:peru;
    font-size: 30px;
}
h5{
    color:wheat;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: italic;
    font-weight: lighter;
}
#section{

    background-color: blueviolet;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: azure;
    margin: 10px,20px,30px,40px;
}
#section1{
    padding: 10px;
    margin:auto;
    color: antiquewhite;
    background-color: black;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter; 
    border: 5px red dotted;
    max-width:600px;
}
a.my_link:hover{
    color:aqua;
}
input{
    padding: 10px;
    font-size: 1rem;
    width: 150px;
}
input:hover{
    background-color: bisque;
}
input:focus{
    background-color:greenyellow ;
}
table ,tr,td{
    border: 1px solid black;
}
p::first-letter{
    color: blue;
    font-size: 10rem;
}
p::after{
    content:">" ;
}
#Dumple{
    background-image:url(iub,png);
    background-repeat:no-repeat ;
}
#nav-menu ul li a{
    list-style-type:none;
    float: left;
    text-decoration: none;
    font-size: 30px;
    color: wheat;
    background-color: black;
    cursor: help;

}
#nav-menu ul li a:hover{ 
    color: brown;
}